body {
}
.beauty {
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.important {
    color: red;
    text-align: center;
    font-size: 25px
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
@keyframes rainbow{
    0%{background-color:red;left:0px;transform: rotate(0deg);}
    16.5%{background-color:orange;left:237px;transform: rotate(60deg);}
    33%{background-color: yellow;left:474px;transform: rotate(120deg);}
    49.5%{background-color: green;left:711px;transform: rotate(180deg);}
    66%{background-color: lightskyblue;left:948px;transform: rotate(240deg);}
    82.5%{background-color: blue;left:1185px;transform: rotate(300deg);}
    100%{background-color: purple;left:1418px;transform: rotate(360deg);}
}

.animation {
    animation: rainbow 7s linear infinite alternate;
}


a.css:link {
    background-color: yellow;
}
a.css:visited {
    background-color:darkgoldenrod;
}
a.css:hover {
    background-color:lightyellow;
}
a.css:active {
    background-color: greenyellow;
}